* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .app__posts {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
